workflows/workflow2-encerramento.json
{
  "name": "Impulsis - Encerrar Ticket Origem v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "impulsis-close-origin",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "76d5fc18-c451-48db-9fff-82e9bd0d28a4",
      "name": "Webhook Fechar Origem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-224, -48],
      "webhookId": "8d39725e-00b1-48ff-aab5-107fef166f03"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ok\" } }}",
        "options": {}
      },
      "id": "9ecf0b9f-97ba-45db-aecf-ae1c586080c7",
      "name": "Resposta 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-496, -48]
    },
    {
      "parameters": {
        "jsCode": "const wh = $input.first().json;\nconst b = wh.body || {};\nreturn [{ json: {\n  action: b.action || '',\n  child_ticket_id: b.child_ticket_id || '',\n  origin_ticket_id: b.origin_ticket_id || '',\n  agent_name: b.agent_name || '',\n  agent_email: b.agent_email || ''\n} }];"
      },
      "id": "extrair-body-wf2",
      "name": "Extrair Dados do Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, -48]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-origin-notempty",
              "leftValue": "={{ $json.origin_ticket_id }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEquals"}
            },
            {
              "id": "cond-origin-nonzero",
              "leftValue": "={{ $json.origin_ticket_id }}",
              "rightValue": "0",
              "operator": {"type": "string", "operation": "notEquals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8f15919e-d69e-4311-91f1-3bc8bec091cf",
      "name": "Origem Valida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, -48]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://webposto.zendesk.com/api/v2/tickets/{{ $json.origin_ticket_id }}.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ ticket: { status: 'solved', custom_fields: [ { id: 50639967936148, value: false }, { id: 41270881369364, value: false } ], comment: { body: 'Ticket encerrado automaticamente. Retorno do cliente foi atendido no ticket filho #' + $json.child_ticket_id + ' pelo agente ' + $json.agent_name + '.', public: false } } }) }}",
        "options": {}
      },
      "id": "d77da91a-1f5c-480f-a1f9-d54cc3f0a5b4",
      "name": "Fechar Origem e Limpar Campos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, -64],
      "credentials": {
        "httpHeaderAuth": {"id": "3csoYCJVQsP9ffsq", "name": "Zendesk API Header"}
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://webposto.zendesk.com/api/v2/tickets/{{ $('Extrair Dados do Webhook').first().json.origin_ticket_id }}/tags.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ tags: ['impulsis_ativo'] }) }}",
        "options": {}
      },
      "id": "ec637a56-fca8-4b34-acfb-467293236429",
      "name": "Remover Tag impulsis_ativo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, -64],
      "credentials": {
        "httpHeaderAuth": {"id": "3csoYCJVQsP9ffsq", "name": "Zendesk API Header"}
      }
    },
    {
      "parameters": {
        "jsCode": "const wh = $('Extrair Dados do Webhook').first().json;\nreturn [{ json: {\n  status: 'done',\n  origin_ticket_id: wh.origin_ticket_id,\n  child_ticket_id: wh.child_ticket_id,\n  agent_name: wh.agent_name,\n  cleaned_field: true,\n  removed_tag: true\n} }];"
      },
      "id": "5f707037-65f6-466b-8d3b-a3ab03cf451f",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, -64]
    },
    {
      "parameters": {
        "jsCode": "const wh = $('Extrair Dados do Webhook').first().json;\nreturn [{ json: { status: 'skipped', reason: 'invalid_origin_id', payload: wh } }];"
      },
      "id": "dc7eb9ad-cbab-4d9e-a267-2654d9cd81af",
      "name": "Log Origem Invalida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 112]
    }
  ],
  "connections": {
    "Webhook Fechar Origem": {
      "main": [[
        {"node": "Resposta 200", "type": "main", "index": 0},
        {"node": "Extrair Dados do Webhook", "type": "main", "index": 0}
      ]]
    },
    "Extrair Dados do Webhook": {
      "main": [[{"node": "Origem Valida", "type": "main", "index": 0}]]
    },
    "Origem Valida": {
      "main": [
        [{"node": "Fechar Origem e Limpar Campos", "type": "main", "index": 0}],
        [{"node": "Log Origem Invalida", "type": "main", "index": 0}]
      ]
    },
    "Fechar Origem e Limpar Campos": {
      "main": [[{"node": "Remover Tag impulsis_ativo", "type": "main", "index": 0}]]
    },
    "Remover Tag impulsis_ativo": {
      "main": [[{"node": "Log Sucesso", "type": "main", "index": 0}]]
    }
  },
  "pinData": {
    "Webhook Fechar Origem": [
      {
        "headers": {
          "host": "webhook.qualityautomacao.com.br",
          "content-type": "application/json; charset=utf-8",
          "x-zendesk-account-id": "24752443",
          "x-zendesk-webhook-id": "01KVV4J8YMCR4Y539DA93K6EWH"
        },
        "params": {},
        "query": {},
        "body": {
          "action": "close_origin",
          "child_ticket_id": "118189",
          "origin_ticket_id": "116595",
          "agent_name": "Vinicius Gouvea",
          "agent_email": "vinicius.gouvea@webposto.com.br"
        },
        "webhookUrl": "https://webhook.qualityautomacao.com.br/webhook/impulsis-close-origin",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "c6f86c928b1521171686fd64db45c641cb12e636101be3972a093c9cfcd6dc3d"
  }
}